.home {
    position: relative;
width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/home.png");
  height: auto;
}
.vl {
    border-left: 8px solid rgb(60, 177, 206);
    height: 60px;
   
  }

  .choose {

width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/cbg.png");
    height: 650px;
  }
  .client {

width: 100%;
    
      background-color: rgba(241, 240, 240, 0.644);
    height: 500px;
  }
  .grow {

width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-color: rgb(29, 150, 187);
    height: auto;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
